@font-face {
  font-family: "IranYekan";
  src: url("/fonts/iranyekan-cdnfonts/Qs_Iranyekan.ttf");
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  margin-bottom: 5%;
}

.backButton {
  cursor: pointer;
  color: white;
  font-size: 1rem;
  position: absolute;
  left: 0;
}
.label {
  color: white !important;
}
.title {
  font-size: 1rem;
  color: white;
  font-family: "IranYekan";
}

.tripContainer {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 22% auto 30%;
  direction: rtl;
  position: relative;
}
.stay {
  margin-top: 3% !important;
}
.row {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.field {
  flex: 1;
}

.textField {
  margin-top: 15px;
}

.discountRow {
  color: white;
  display: flex;
  gap: 10px;
  margin-top: 15px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.discountRow .MuiFormControlLabel-root {
  flex-shrink: 0;
}

.button {
  margin-top: 20px !important;
  background-color: #1976d2;
  color: white;
}

.fade {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
