body {
  margin: 0;
  background-color: #003049 !important;
  font-family: "Inter", sans-serif;
}

.embla {
  overflow: hidden;
  background-color: white;
  margin: 20% auto auto;
  position: relative;
  height: 22vh;
  width: 95%;
  border-radius: 15px;
  text-align: center;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
