body {
  margin: 0;
  background-color: #0d1321 !important;
  font-family: "Inter", sans-serif;
}
html, body{
  overflow-y: hidden;
  height: 100%;
}

.embla {
  overflow: hidden;
  background-color: white;
  margin: 20% auto auto;
  position: relative;
  height: 22vh;
  width: 95%;
  border-radius: 15px;
  text-align: center;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}


/*Swiper*/

/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  bottom: 10px; /* Distance from the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Correct centering */
  text-align: center;
  transition: 300ms opacity; /* Smooth fade-in/fade-out */
  z-index: 10; /* Ensure it's above other content */
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  backdrop-filter: blur(10px); /* Blurred effect */
  padding: 5px 15px; /* Padding for rounded corners */
  border-radius: 20px; /* Rounded corners */
  min-width: 50%; /* Set a minimum width */
  max-width: 90%; /* Optional: prevent it from getting too wide */
  display: flex; /* Align dots in a row */
  justify-content: center; /* Center bullets inside the pagination */
}

/* Default Dot Style */
.swiper-pagination-bullet {
  width: 1px;
  height: 1px;
  background: white !important;
  border-radius: 50%;
  margin: 0 5px;
  opacity: 0.8;
  font-size: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Active Dot Style */
.swiper-pagination-bullet-active {
  background: #409bff !important;
  opacity: 1;
  transform: scale(1.2);
}
