.image {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.embla__container {
  display: flex;
  height: 100%;
}

.embla__slide {
  min-width: 100%;
  position: relative;
}

.link {
  text-decoration: none;
}
